[*.cs]

# CS0649: Field is never assigned to, and will always have its default value null
dotnet_diagnostic.CS0649.severity = silent

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = silent
